<div class="flex-container">
  <mat-card class="job-card">
    <mat-card-header>
      <img mat-card-avatar src="../../../../assets/images/job_icons/echo-global-logistics-logo.png" alt="Echo Logo">
      <mat-card-title>Echo Global Logistics: Software Engineer</mat-card-title>
      <mat-card-subtitle> June 2018 - Present </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  <mat-card class="job-card">
    <mat-card-header>
      <img mat-card-avatar src="../../../../assets/images/job_icons/feeding-america-logo.png" alt="Feeding America Logo">
      <mat-card-title>Feeding America</mat-card-title>
      <mat-card-subtitle>May 2017 - August 2017</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Research strategy options for sustainable mobile device management and mobile infrastructure system</li>
        <li>Develop SQL scripts for data conversion and analytics for implementation of Enterprise Resource Planning
          System.
        </li>
        <li>Design a website to monitor site uptime of critical fundraising websites in support of Feeding America’s
          Mission
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="job-card">
    <mat-card-header>
      <img mat-card-avatar src="../../../../assets/images/job_icons/ugo-logo.png" alt="Ugo Delivery Logo">
      <mat-card-title>Ugo Delivery: Software Consultant</mat-card-title>
      <mat-card-subtitle> November 2016 - Present </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Create <a href="www.ugodelivery.com">ugodelivery.com</a>, a marketing page for Ugo.</li>
        <li>Update the Ugo App from Swift 1 and Alamofire 1.0 to Swift 3 and Alamofire 4.0.</li>
        <li>Develop new ideas about improving aspects of the Website and IOS App with CEO and other partners</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="job-card">
    <mat-card-header>
      <img mat-card-avatar src="../../../../assets/images/job_icons/the-nine-logo.jpeg" alt="The Nine Logo">
      <mat-card-title>The Nine</mat-card-title>
      <mat-card-subtitle>April 2017 - March 2018</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Update Caboose-Rets plugin to work with new RETS service provider for a local real estate agent.</li>
        <li>Work on development of ruby on rails Content Management System Develop an iOS app to manage kids’ reward
          system based on a points called Housepoints.</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
