<mat-card class="runa-card">
  <mat-card-header>
    <mat-card-title>Runa</mat-card-title>
    <mat-card-subtitle>HackATL - Fall 2017</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../assets/images/projects/runa-logo.png" alt="">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inspiration</mat-expansion-panel-header>
        We made this to help track child speech development and detectany abnormalities.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>What it does</mat-expansion-panel-header>
        Runa would record a child's voice and log new vocbulary and sentence length.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>How I built it</mat-expansion-panel-header>
        It is only a POC, it listens to a voice source and uses Google's speech to text API to track
        vocbulary and sentance length. It then displays visualization depicting speech progress.
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
