<mat-card class="space-simulator-card">
  <a href="https://devpost.com/software/space-simulator">
    <mat-card-header>
      <mat-card-title>Space Simulator</mat-card-title>
      <mat-card-subtitle>Vandyhacks III</mat-card-subtitle>
    </mat-card-header>
  </a>
  <img mat-card-image src="../../../../assets/images/projects/space-simulator-logo.jpg" alt="">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inspiration</mat-expansion-panel-header>
        Unity Tech Talk
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>What it does</mat-expansion-panel-header>
        Simulates our Solar System with Space ship to navigate
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>How I built it</mat-expansion-panel-header>
        Unity 3D
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
