$neon-sign: #0400fd;

$extra-large: 'only screen and (max-width: 1200px)';
$large: 'only screen and (max-width: 992px)';
$medium: 'only screen and (max-width: 768px)';
$small: 'only screen and (max-width: 600px)';
$extra-small: 'only screen and (max-width: 600px)';

$black-87-opacity : rgba(0, 0, 0, 0.87);

$mat-primary: (50 : #e0f3f3,
100 : #b3e0e0,
200 : #80cccc,
300 : #4db8b8,
400 : #26a8a8,
500 : #009999,
600 : #009191,
700 : #008686,
800 : #007c7c,
900 : #006b6b,
A100 : #9affff,
A200 : #67ffff,
A400 : #34ffff,
A700 : #1affff,
contrast: (50 : $black-87-opacity,
100 : $black-87-opacity,
200 : $black-87-opacity,
300 : $black-87-opacity,
400 : $black-87-opacity,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : $black-87-opacity,
A200 : $black-87-opacity,
A400 : $black-87-opacity,
A700 : #ffffff,
));

$mat-accent: (50 : #f3fde0,
100 : #e2fab3,
200 : #cff780,
300 : #bcf34d,
400 : #adf126,
500 : #9fee00,
600 : #97ec00,
700 : #8de900,
800 : #83e700,
900 : #72e200,
A100 : #ffffff,
A200 : #e8ffd6,
A400 : #ccffa3,
A700 : #beff8a,
contrast: (50 : $black-87-opacity,
100 : $black-87-opacity,
200 : $black-87-opacity,
300 : $black-87-opacity,
400 : $black-87-opacity,
500 : $black-87-opacity,
600 : $black-87-opacity,
700 : $black-87-opacity,
800 : $black-87-opacity,
900 : $black-87-opacity,
A100 : $black-87-opacity,
A200 : $black-87-opacity,
A400 : $black-87-opacity,
A700 : $black-87-opacity,
));

$mat-black: (50 : #e4e4e4,
100 : #bdbdbd,
200 : #919191,
300 : #646464,
400 : #434343,
500 : #222222,
600 : #1e1e1e,
700 : #191919,
800 : #141414,
900 : #0c0c0c,
A100 : #e76c6c,
A200 : #e04040,
A400 : #ec0000,
A700 : #d30000,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));
