<mat-card class="medsend-card">
  <a href="https://devpost.com/software/medsend-tzaceg">
    <mat-card-header>
      <mat-card-title>Medsend</mat-card-title>
      <mat-card-subtitle>Hack GSU - Fall 2017</mat-card-subtitle>
    </mat-card-header>
  </a>
  <img mat-card-image src="../../../../assets/images/projects/medsend-logo.png" alt="MEDSEND">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inspiration</mat-expansion-panel-header>
        We wanted to help distribute the extra supplies people had sitting around to those in need of it. Also items of
        this nature can be expensive to buy, so donations help keep costs down for these important charities and
        organizations.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>What it does</mat-expansion-panel-header>
        It allows those with extra medical supplies, such as crutches, wheelchairs, stretchers, canes, etc, to donate
        the items to us or a charity using our platform. Others who need these items can make an account and request
        what they need. If the items available to be distributed to those in need are dolled out in a round robin
        fashion, that is everyone who requested an item will get one of the item if there is enough before other get a
        second or third of the item requested.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>How we built it</mat-expansion-panel-header>
        We built is using Python and Flask as a back-end with a Jinja2, HTML, and CSS front-end
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
