<mat-card class='syncrus-card'>
  <a href="https://devpost.com/software/tbd-2853e9">
    <mat-card-header>
      <mat-card-title>Syncrus</mat-card-title>
      <mat-card-subtitle>Hack GT - Fall 2017</mat-card-subtitle>
    </mat-card-header>
  </a>
  <iframe mat-card-image width="100%" height="265" src="https://www.youtube.com/embed/4jJMWJxRy5U" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inspiration</mat-expansion-panel-header>
        We were inspired by the data set provided by NCR to build a data visualization of a stores best
        selling departments in different cities across the nation. We also build a simulation of shoppers to analyze
        the efficiency and shopper-friendly design of the stores locations per city. We wanted to create a analytical
        view of the entire lifecycle of selling a product, from warehouse distribution to product placement within each
        specific store.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>What it does</mat-expansion-panel-header>
        Our main page shows the most popular locations of a store franchise based on the number of transactions. When
        hovering over a city location out donut chart automatically updates to represent the percentages of
        departmental transactions for that specific store location. When the city location is clicked the user is
        brought to a simulations of shoppers experiences buying their items. This tool can be used to analyze the
        shopper-friendliness of the stores layout based on shopper traffic while picking up their items. It also
        simulates the restocking of the departments to provide an even deeper analysis of popularity of certain
        departments and their items.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>How we built it</mat-expansion-panel-header>
        The back-end was build with Python and Flask. We loaded the csv data with an added column of locations from NCR
        and stored it in an SQLite database to support out custom API. The generalized data for the nation and city is
        created using D3.js for data visualization. The store analysis was made using Unity.
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
