.container {
  padding: 0 0.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #427c8d7c;
}

.main {
  padding: 5rem 0;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: rgba(18, 44, 56, 0.75);
}
.description a:hover {
  color: rgba(18, 44, 56, 1);
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
}
