.container {
  margin: 0 auto 2.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  background-color: #427c8d7c;
  padding: 2.5rem 2.5rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: rgba(18, 44, 56, 0.75);
}

.date {
  text-align: center;
  margin: 0;
  color: rgba(18, 44, 56, 0.75);
}

.listItem a:hover {
  color: rgba(18, 44, 56, 1);
}

.listItem {
  color: rgba(18, 44, 56, 0.75);
}

.book {
  display: flex;
}

.bookTitle {
  margin: 0;
  color: #fafafa;
}
