.controlContainer {
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 1;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .controlContainer {
    flex-direction: row;
    margin: 4px 0;
  }

  .widgetContainer {
    flex-direction: column;
  }
}

.widgetPicker {
  background: #343434;
}

.playback {
  background: #056572;
}

.presets {
  background: #4e850f;
}

.customization {
  background: #944d0b;
}
