<mat-card class="minigame-madness-card">
  <a href="https://devpost.com/software/minigame-madness">
    <mat-card-header>
      <mat-card-title>Minigame Madness</mat-card-title>
      <mat-card-subtitle>HackGSU - Spring 2016</mat-card-subtitle>
    </mat-card-header>
  </a>
  <img mat-card-image src="../../../../assets/images/projects/minigame-madness-logo.jpg" alt="">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inpiration</mat-expansion-panel-header>
        We were inspired to create this by the Stay Inside and Play and the Gene Challenge. After we had started
        creating MiniGame Madness, we further got inspired by the creation of the Best Design Category. The game Chimp
        Chase was inspired by MailChimp.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>What it does</mat-expansion-panel-header>
        MiniGame Madness is an app that hosts 3 different mini-games that the user can play. They are Chimp Chase,
        Labyrinth, and Dance Floor Dodge.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>How we built it</mat-expansion-panel-header>
        We build MiniGame Madness using the Unity3D game engine and their built in collaboration tools.
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
