<mat-card class="sociomotion-card">
  <a href="https://devpost.com/software/sociomotion">
    <mat-card-header>
      <mat-card-title>Sociomotion</mat-card-title>
      <mat-card-subtitle>HackState - Fall 2017</mat-card-subtitle>
    </mat-card-header>
  </a>
  <img mat-card-image src="../../../../assets/images/projects/sociomotion-logo.png" alt="Sociomotion">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Inspiration</mat-expansion-panel-header>
        Can you systematically gauge how anger someone is based off their posts online? How about sadness? Joy?
        Disgust? What about their extroversion, or how confident they are?
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header> What it does</mat-expansion-panel-header>
        Sociomotion is a web-based application using to analyze their behavior by reading their tweets
        on Twitter. It uses IBM Watson's Tone Analyzer API, Twitter's API to retrieve the tweets of a user, Node.js,
        Pug.js (which fully integrates with Express.js, as a supported view engine), Heroku, CSS, and HTML.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>How we built it</mat-expansion-panel-header>
        It uses IBM Watson's Tone Analyzer API, Twitter's API to retrieve the tweets of a user, Node.js, Pug.js,
        Heroku, CSS, and HTML.
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
